%h1 Brewing Kettles

%p These are the running batches.

%table
  %thead
    %tr
      %th Beer
      %th Bottles
      %th ETA
      %th Started Brewing

  - @workers.each do |process_id, thread_id, work|
    - brand = Brand.find(work['payload']['args'][0])
    %tbody
      %tr
        %td= brand.name
        %td= work['payload']['args'][1]
        %td
          = l Time.at(work['run_at']) + work['payload']['args'][1] * brand.time_to_brew, format: :short
        %td
          = time_ago_in_words Time.at(work['run_at'])
          ago
